*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zm-footer: #222222;
    --zm-green: #4BC800;
    --zm-red: #D81E0F;
    --zm-grey: #4A4A4A;
}

/* #region debug */
.debug main{
    background-color: black;
    
}
.debug header{
    border: 1px solid red;
}

.debug span{
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
}

.debug .partecipants{
    border: 1px solid green;
    height: 800px;
}

.debug footer{
    background-color: palevioletred;
    height: 90px;
}

.debug .bottom{
    height: 60px;
    background-color:  palegreen;
    margin: 1rem;
}

.debug .output,
.debug .commands,
.debug .endcall  {
    height: 50px;
    background-color: white;
}



.debug .card{
    border: 1px solid white;
    height: 144px;
    width: calc(100% / 7)
}

.debug .info{
    background-color: rebeccapurple;
    height: 20px;
    width: 30px;
}
/* #endregion debug */

/* #region utility */

.d-flex{
    display: flex;
}

.container{
    width: 1900px;
    margin: auto;
}

/* #endregion utility */


/* #region header */

header{
    background-color: black;
    height: 100px;
}

.view span{
    background-color: var(--zm-grey);
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 0.8rem;
    font-size: 15px;
}
   

.view{
    position: fixed;
    justify-content: flex-end;
    right: 0.2rem;
    top: 1rem;    
    z-index: 100;
}


/* #endregion header */

/* #region Main */

body{
    overflow-y: auto;
    background-color: black;
}

main{
    padding-bottom: 5rem;
}

.row{
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    position: relative;
    margin: 0.4rem 0.2rem;
}

.info{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    padding: 0.4rem;
}


/* #endregion body */

/* #region footer */

footer{
    background-color: var(--zm-footer);
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    z-index: 100;
}

.bottom{
    justify-content: space-between;
    align-items: center;
}

.output, .endcall{
    width: 10%;
}

.commands{
    width: 60%;
}





/* #endregion footer */